* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #000;
  color: whitesmoke;
}
.notes{
  width: 100%;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;

}
.note{
  background: gray;
  min-width: 20rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.note button{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: rgb(255, 0, 0);
  color: white;
}

form{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-block: 1rem;
}
form input{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}
form button{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: rgb(0, 255, 21);
  color: white;
}
